.containersneak {
    background-color: #000;
    display: flex;
    flex-direction: row;
    height:1000px ;
    width:100% ;
    flex-wrap:wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 2%;
}

#galerie{
    margin-top: 4%;
}

.container{
    width:100%;
    margin: 0;
    padding:0;
    max-width: none;
}

.menuDiv{
    background-color: #000;
    margin: auto;
    width: 25%;
    height:100%;
    border: 2px solid #000;
}

.itemDiv{
    background-color: #fff;
    margin: auto;
    width: 25%;
    height:100%;
    border: 2px solid #000;
}

.videoDiv{
    background-color: #fff;
    margin: auto;
    width: 50%;
    height:100%;
    border: 2px solid #000;
}

.firstRow{
    display: flex;
    flex-direction: row;
    height:333px ;
    width:100% ;
}

.vidRow{
    display: flex;
    flex-direction: row;
    height:333px ;
    width:100% ;
}

.baseRow{
    display: flex;
    flex-direction: row;
    height:333px ;
    width:100% ;
}